.auth {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
}
.auth__left, .auth__content {
    width: 50%;
    height: 100%;
    background-color: blue;
    position: relative;
}

.auth__content {
    background-color: black;
}